.auth-button {
  color:#EEEEEE;
  background-color: #800000;
  border:none;
  border-radius: .33em;
  padding:1em;
  font-weight: bold;
}

.container {
  background-color: lightblue;
  padding:1em;

  display:flex;
}

.buttons {
  margin-left: auto;
}

.title {
  color:#800000;
  text-align: center;
  height:100%;
  margin: auto 0;
  font-size:1.6rem;
  font-weight: bold;
}